.content-section {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  margin-bottom: 10px;
}

.content-section-lineOne {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.content-section-lineOne > h3 {
  font-size: 22px;
  /* font-weight: 640; */
  /* letter-spacing: 0px; */
}

.underline-pointer:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content-section-lineOne > span {
  margin-right: 13px;
  font-size: 13px;
  font-weight: 700;
  color: #a7a7a7;
}

.content-section-lineTwo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 9px;
  margin-right: 9px;
}
