.sidebar {
  width: 380px;
  background-color: #000;
}

.sidebar-section {
  margin: 9px;
  padding: 0px 20px 7px 20px;
  padding-left: 25px;
  background-color: #121212;
  border-radius: 8px;
}

.spotify-logo {
  padding-top: 20px;
  width: 75px;
  object-fit: contain;
}

.sidebar-section-line {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 0px;
}

.search,
.home {
  flex: 1;
  margin-top: 5px;
}

.sidebar-section-line:hover {
  opacity: 1 !important;
}

.sidebar-section-line > span {
  margin-left: 20px;
  font-weight: 600;
}

.your-library {
  position: relative;
}

.library {
  padding-top: 18px;
  opacity: 0.8;
}

.library-plus-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 0.8;
}

.library-plus-icon:hover {
  opacity: 1;
}
